*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.newList{
  width: 50%;
  position: absolute;
  background-color: #fff;
  left: 50px;
  display: none;
}
.closeX{
  float: right;
  font-size: 25px;
}
.closeX:hover{
  cursor: pointer;
  color: gold;
}